<a href="https://colab.research.google.com/github/dphi-official/Micro-Courses/blob/master/Supervised_Algorithms_Classification/Exercises/Logistic_Regression_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
To determine the employee retention i.e to determine if the feature 'left' is 0 or 1.

The data is taken from [Kaggle](https://www.kaggle.com/giripujar/hr-analytics) and made a bit simpler.

## Tasks:

1. Load the data from https://raw.githubusercontent.com/dphi-official/Datasets/master/HR_analysis.csv
2. The 'salary' column has text data. Use One Hot Encoing to turn it into numeric.
3. Split the given data into train and test sets.
4. Determine the accuracy score.

PS. You might need to use max_iter=1000 inside Logistic Regression in case the no. of epochs exceed the maximum limit.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
hr_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/HR_analysis.csv")
hr_data.head()

   satisfaction_level  last_evaluation  ...  salary  left
0                0.38             0.53  ...     low     1
1                0.80             0.86  ...  medium     1
2                0.11             0.88  ...  medium     1
3                0.72             0.87  ...     low     1
4                0.37             0.52  ...     low     1

[5 rows x 9 columns]

In [ ]:
hr_data_dummies = pd.get_dummies(hr_data, columns = ['salary'])
hr_data_dummies.head()

   satisfaction_level  last_evaluation  ...  salary_low  salary_medium
0                0.38             0.53  ...           1              0
1                0.80             0.86  ...           0              1
2                0.11             0.88  ...           0              1
3                0.72             0.87  ...           1              0
4                0.37             0.52  ...           1              0

[5 rows x 11 columns]

In [ ]:
hr_data = hr_data[['satisfaction_level','average_montly_hours','promotion_last_5years','salary']]

In [ ]:
# hr_data.drop('average_montly_hours', axis=1, inplace=True)

In [ ]:
X = hr_data_dummies.drop('left', axis=1)
y = hr_data_dummies['left']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = log_reg.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred)

0.7923333333333333